.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 75%;
}

.header h1 {
  text-align: center;
  color: red;
  font-size: 82px;
}

.details {
  margin-bottom: 66px;
}

.details h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
  text-align: center;
}

.details > h2:not(:last-child) {
  margin-bottom: 47px;
}

.footer {
  cursor: pointer;
}

.footer a {
  text-decoration: none;
}

.footer:hover {
  opacity: 0.8;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left .header {
  margin-bottom: 80px;
}

.right .header {
  margin-bottom: 28px;
}

.list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listItem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.listItem h4 {
  font-size: 52px;
  line-height: 69px;
}
